<f:layout name="Default" />
<f:section name="main">
<f:flashMessages />

<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#10006;</button>
			<h1><f:translate key="tx_pimentrougetickets_domain_model_ticket.edit" /></h1>
	</div>

	<div class="modal-body">
		<h4>{ticket.title}</h4>
	
	<f:render partial="FormErrors" arguments="{object:Ticket}" /> 
	
  <f:security.ifHasRole role="{settings.adminGroup}">
  	<div class="answer-text-area">
			<f:form id="form" action="create" controller="Answer" enctype="multipart/form-data" name="newAnswer" object="{newAnswer}" arguments="{_all}">
				<f:render partial="Ticket/FormFields" arguments="{_all}" />
				<f:render partial="Answer/FormFields" arguments="{_all}" />
  			<f:form.submit value="Отправить" class="btn btn-primary" />
  		</f:form>   	
  	</div>
  </f:security.ifHasRole>		
	
	</div>
	<div class="modal-footer">
 		<button type="button" class="btn btn-default" data-dismiss="modal">
 			<f:translate key="tx_pimentrougetickets.modal.close" />
 		</button>
	</div>
</div>
	
</f:section>