<f:layout name="Default" />
<f:section name="main">
<f:flashMessages />

<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#10006;</button>
			<h1>Ticket # {ticket.uid}</h1>
	</div>

	<div class="modal-body">	
		<h4>{ticket.title}</h4>
		<f:render partial="Ticket/Detail" arguments="{ticket:ticket}" />
	</div>
	
	<div class="modal-footer">
 		<button type="button" class="btn btn-default" data-dismiss="modal">
 			<f:translate key="tx_pimentrougetickets_domain_model_ticket.close" />
 		</button>
	</div>
	  
</div>

</f:section>