
<label for="subject">
	<f:translate key="tx_pimentrougetickets_domain_model_message.subject" />
</label><br />
	<f:form.textfield property="subject" /><br />
<label for="message">
	<f:translate key="tx_pimentrougetickets_domain_model_message.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />
<label for="createDate">
	<f:translate key="tx_pimentrougetickets_domain_model_message.create_date" />
</label><br />
	<f:form.textfield property="createDate" /><br />