      <thead>
        <tr>
          <th><f:translate key="tx_pimentrougetickets_domain_model_ticket.uid" /></th>          
          <th><f:translate key="tx_pimentrougetickets_domain_model_ticket.title" /></th>          
          <th><f:translate key="tx_pimentrougetickets_domain_model_ticket.project" /></th>          
          <th><f:translate key="tx_pimentrougetickets_domain_model_ticket.description" /></th>
          <th><f:translate key="tx_pimentrougetickets_domain_model_ticket.category" /></th>
          <th><f:translate key="tx_pimentrougetickets_domain_model_ticket.priority" /></th>
          <th><f:translate key="tx_pimentrougetickets_domain_model_ticket.cost" /></th>
          <th><f:translate key="tx_pimentrougetickets_domain_model_ticket.crdate" /></th>
        </tr>
      </thead>