
<table class="tx-pimentrougetickets" >
	<tr>
		<td>
			<f:translate key="tx_pimentrougetickets_domain_model_user.username" />
		</td>
		<td>
		{user.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pimentrougetickets_domain_model_user.email" />
		</td>
		<td>
		{user.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pimentrougetickets_domain_model_user.first_name" />
		</td>
		<td>
		{user.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pimentrougetickets_domain_model_user.last_name" />
		</td>
		<td>
		{user.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pimentrougetickets_domain_model_user.image" />
		</td>
		<td>
				<f:image src="{user.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>